﻿body {
    font-family: sans-serif;
    background: #fafafa;
    overflow-x: hidden;
    
}

p {
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #333;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 500px;
    max-width: 500px;
    min-height: 100vh;
}

#map-canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.sidebarCollapse, .footer-sidebar-Collapse {
    display: none;
}
#map-editor-footer {
    display: none;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -100%;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #map-canvas {
        height: 90%;
        width: 100%;
        position:relative;
    }
    #sidebar {
        width: 100%;
        max-width: none;
        min-width: 100%;
        min-height: 100vh;
    }
    #map-editor-footer {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        background-color: #6d7fcc;
    }
    .sidebarCollapse {
        display:inline;
    }
    /*.footer-sidebar-Collapse {
        position: absolute;
        width: 50%;
    }*/
}



a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    color: #333;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#btn-add-remark {
    width: 250px;
    text-align: center;
    font-size: 14pt;
}

#map-editor {
    position: relative;
    width: 100%;
    min-height: 100vh;

}

#content-set {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
#search-container {
    padding-top: 40px;
}
.display-name {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 3px;
}
.display-name span {
    padding: 0;
}

.search-remark-container {
    border: 1px solid #6d7fcc;
    padding: 3px;
    cursor: pointer;
    color: #53a3cd;
    margin-bottom: 10px;
}

.search-remark-container:hover {
    border: 1px solid black;
    padding: 3px;
    font-weight: bold;
}
#sidebar h1 {
    font-size: 13pt;
    font-weight: bold;
    margin: 0;
    padding: 0
}
.search-remark-container p {
    margin: 0;
    color: inherit;
    font-weight: inherit;
    padding-bottom: 10px;
}

/*
Login -register
*/
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
.error-message {
    color: red;
    padding-top: 2px;
}