﻿<div>
    <div id="remark-container">
            <h1>Recognize natural or artificial with a remark</h1>
            <p style="text-align: justify;">
                Landmark remark is an interactive map showing the location of landmark remarks left by you or other users. Share your experience and adventures with our communities today!
            </p>


        <div class="display-name" ng-if="isAuthorize">
            Welcome
            <span class="btn btn-link" ui-sref="app.user-remarks">
                {{username}} (my remarks)
            </span>,
            <!--<span class="btn btn-link pull-right" ng-click="onLogout()">Logout</span>-->
            <div class="clearfix"></div>
        </div>

        <textarea ng-if="isAuthorize" class="form-control" ng-model="$parent.remark" style="margin-bottom: 15px;" rows="5" placeholder="leave your remarks here!"></textarea>

        <button id="btn-add-remark" ng-click="OnRemarkBtnClick()" class="btn btn-primary">{{RemarkBtnValue}}</button>
    </div>
    <div id="search-container">
        <p>Search a remark / username</p>
        <input type="text" ng-model="searchRemark" placeholder="Search a remark / user" class="form-control" />
        <br />
        <button id="btn-search-remark" ng-click="OnSearchRemark()" class="btn btn-primary">Search</button>
    </div>
</div>


