﻿<div>
    <div class="panel panel-login">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <a href="#" class="active" id="login-form-link">Login</a>
                </div>
                <div class="col-xs-6">
                    <a href="#" id="register-form-link">Register</a>
                </div>
            </div>
            <hr>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form id="login-form" name="formLogin" style="display: block;" novalidate="novalidate" on-valid-submit="onLoginSubmit()">
                        <div class="form-group">
                            <input type="text"
                                   name="username"
                                   ng-model="loginData.username"
                                   class="form-control"
                                   placeholder="Username"
                                   required>
                            <div class="error-message"
                                 ng-show="formLogin.username.$error.required && (formLogin.username.$touched || formLogin.$submitted)">
                                Username is required
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   ng-model="loginData.password"
                                   placeholder="Password"
                                   required>
                            <div class="error-message"
                                 ng-show="formLogin.password.$error.required && (formLogin.password.$touched || formLogin.$submitted)">
                                Password is required
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <button class="form-control btn btn-login" type="submit">Log In</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form id="register-form" name="formRegister" style="display: none;" novalidate="novalidate" on-valid-submit="onRegisterSubmit()">
                        <div class="form-group">
                            <input type="text"
                                   name="username"
                                   ng-model="registerData.username"
                                   class="form-control"
                                   placeholder="Username"
                                   ng-minlength="4"
                                   required>
                            <div class="error-message"
                                 ng-show="formRegister.username.$error.required && (formRegister.username.$touched || formRegister.$submitted)">
                                Username is required
                            </div>
                            <div class="error-message"
                                 ng-show="!formRegister.username.$error.required && formRegister.username.$error.minlength && (formRegister.username.$touched || formRegister.$submitted)">
                                Minimum 4 characters
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password"
                                   name="password"
                                   pattern=".{6,}"
                                   class="form-control"
                                   ng-model="registerData.password"
                                   ng-minlength="6"
                                   placeholder="Enter your password"
                                   required>
                            <div class="error-message"
                                 ng-show="formRegister.password.$error.required && (formRegister.password.$touched || formRegister.$submitted)">
                                Password is required
                            </div>
                            <div class="error-message"
                                 ng-show="!formRegister.password.$error.required && formRegister.password.$error.minlength && (formRegister.password.$touched || formRegister.$submitted)">
                                Minimum 6 characters
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password"
                                   name="confirmPassword"
                                   ng-model="registerData.confirmPassword"
                                   placeholder="Re-enter your password"
                                   required
                                   compare-to="registerData.password"
                                   class="form-control">
                            <div class="error-message"
                                 ng-show="formRegister.confirmPassword.$error.required && (formRegister.confirmPassword.$touched || formRegister.$submitted)">
                                Re-enter password is required
                            </div>

                            <div class="error-message"
                                 ng-show="!formRegister.confirmPassword.$error.required && formRegister.confirmPassword.$error.compareTo
                     && (formRegister.$submitted || (formRegister.confirmPassword.$touched && formRegister.password.$valid))">
                                Password does not match
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <button class="form-control btn btn-register" type="submit">Register Now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>