﻿<div class="wrapper">
    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
            <button type="button" ui-sref="app.home" class="btn btn-default" title="home">
                <i class="fa fa-home"></i>
            </button>
            <h3 style="display: inline;">Landmark Remark</h3>
            <button type="button" ng-if="isAuthorize" ng-click="onLogout()"  class="btn btn-default pull-right" title="logout">
                <i class="fa fa-sign-out"></i>
            </button>
            <button type="button" ng-click="toggleSidebar()" class="btn btn-default sidebarCollapse pull-right" title="Open map">
                <i class="fa fa-map-o"></i>
            </button>
        </div>
        <div id="content-set">

            <div ui-view="menuContent">

            </div>

        </div>
    </nav>
    <div id="map-editor">
        <div id="map-canvas">

        </div>
        <div id="map-editor-footer">
            <button type="button" ng-click="toggleSidebar()" class="btn btn-info navbar-btn footer-sidebar-Collapse" style="display: block; margin: 0 auto;">
                <span>{{btnTxt}}</span>
            </button>
        </div>
    </div>
</div>


