﻿<div>
    <div style="padding-top: 15px; padding-bottom: 15px;" ng-if="showSearch" id="search-container">
        <p>Search a remark / username</p>
        <input type="text" ng-model="$parent.searchRemark" placeholder="Search a remark / user" class="form-control" />
        <br />
        <button id="btn-search-remark" ng-click="onSearchRemark()" class="btn btn-primary">Search</button>
    </div>
    <div id="search-remarks-wrapper">
        <div class="search-remark-container" ng-repeat="remark in remarks track by remark.id" ng-click="onRemarkSelect(remark.id)">
            <p class="user-remark">Username: {{remark.username}}</p>
            <p class="user-remark">{{remark.remark}}</p>
            <span ng-if="remark.self" ng-click="onRemarkDelete($index, remark.id)" class="btn btn-danger fa fa-close" style="width: 100%">Remove Remarks</span>
        </div>
        <p style="margin-top: 25px;" class="text-danger" ng-if="remarks.length === 0 && showSearch" >Oops, no result was found!</p>
        <p style="margin-top: 25px;" class="text-danger" ng-if="remarks.length === 0 && !showSearch" >You have not added any landmark remarks, click <span ui-sref="app.home" class="btn btn-link">here</span> to start adding remark</p>
    </div>
</div>


